@import url("../static/animate-custom.css");
* a:link    {text-decoration:none; color: @unvisited; }
* a:visited {text-decoration:none; color: @visited;;}
* a:hover   {text-decoration:none; }
* a:active  {text-decoration:none; }

@themeOne: #C0DAFF;
@themeTwo: #3A577F;
@themeThree: #606E7F;
@themeFour: #5D8FCC;
@themeMain: #74ADFF;
@unvisited: @themeFour;
@visited: @themeThree;

/* Fonts! */

@font-face {
    font-family: 'cantarellregular';
    src: url('../fonts/cantarell-regular-webfont.eot');
    src: url('../fonts/cantarell-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cantarell-regular-webfont.woff') format('woff'),
         url('../fonts/cantarell-regular-webfont.ttf') format('truetype'),
         url('../fonts/cantarell-regular-webfont.svg#cantarellregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'danielregular';
    src: url('../fonts/daniel-webfont.eot');
    src: url('../fonts/daniel-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/daniel-webfont.woff') format('woff'),
         url('../fonts/daniel-webfont.ttf') format('truetype'),
         url('../fonts/daniel-webfont.svg#danielregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'chunkfiveroman';
    src: url('../fonts/chunkfive-webfont.eot');
    src: url('../fonts/chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chunkfive-webfont.woff') format('woff'),
         url('../fonts/chunkfive-webfont.ttf') format('truetype'),
         url('../fonts/chunkfive-webfont.svg#chunkfiveroman') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'journalregular';
    src: url('../fonts/journal-webfont.eot');
    src: url('../fonts/journal-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/journal-webfont.woff') format('woff'),
         url('../fonts/journal-webfont.ttf') format('truetype'),
         url('../fonts/journal-webfont.svg#journalregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@backgroundTexture: url('../images/dark_wall.png');


/*Mixins! */


.RoundedShape(@radius:@defaultRadius){
    -webkit-border-radius:@radius;
       -moz-border-radius:@radius;
            border-radius:@radius;
}

@shadowColor: #000;
@shadowSpread: 5px;
@shadowBlur: 5px;
@shadowColor2: @themeThree;
@shadowSpread2: 3px;
@shadowBlur2:3px;
@defaultShadowSize:3px;
.LightShadow(@shadowSize:@defaultShadowSize){
   -moz-box-shadow: 0px 0px @shadowSize @shadowSize @shadowColor;
   -webkit-box-shadow: 0px 0px @shadowSize @shadowSize @shadowColor;
   box-shadow: 0px 0px @shadowSize @shadowSize @shadowColor;
}
.LightShadowIn(@shadowSize:@defaultShadowSize){
   -moz-box-shadow: 0px 0px @shadowSize @shadowSize @shadowColor inset;
   -webkit-box-shadow: 0px 0px @shadowSize @shadowSize @shadowColor inset;
   box-shadow: 0px 0px @shadowSize @shadowSize @shadowColor inset;
}
.HighLight{
   -moz-box-shadow: 0px 0px @shadowSpread2 @shadowBlur2 @shadowColor2;
   -webkit-box-shadow: 0px 0px @shadowSpread2 @shadowBlur2 @shadowColor2;
   box-shadow: 0px 0px @shadowSpread2 @shadowBlur2 @shadowColor2;
}

.Round{
    .RoundedShape(9999px);
}

.RoundedSquare(@radius:@defaultRadius){
    .RoundedShape(@radius);
}

.no_decoration{
    text-decoration: none;
}

@ccRadius:75px;
.CenterCircle{
   .Round;

   position: absolute;

   width: (@ccRadius*2);
   height: (@ccRadius*2);
   margin-left: (-1*@ccRadius);
   margin-top: (-1*@ccRadius);

}
@imageRadius: 70px;
@borderSize: 10px;
@defaultThemeColor: #74ADFF;

#center_pic_holder{
   display: block;
   position: relative;
   margin: auto;

   width: 200px;
   height: 200px;
   margin-top: 35px;
}

.center_image{
   .Round;
   position: absolute;
   top:20px;
   left: 20px;

   height:(2*@imageRadius);
   width: (2*@imageRadius);

   background-size: (2*@imageRadius) (2*@imageRadius);

}

@previewRadius: 50px;
@previewBorderSize: 5px;
.center_preview_image{
   .Round;
   position: absolute;
   top:10px;
   left: 10px;
   height:(2*@previewRadius);
   width: (2*@previewRadius);
   border:@previewBorderSize solid @themeThree;



}
.center_preview_image_safari{
   .Round;
   z-index: 5;
   position: absolute;
   top:10px;
   left: 10px;
   height:(2*@previewRadius);
   width: (2*@previewRadius);
   border:@previewBorderSize solid @themeThree;



}
.center_preview_image_text_div{
   .Round;
   position: absolute;
   z-index: 6;
   top:10px;
   left: 10px;
   height:(2*@previewRadius);
   width: (2*@previewRadius);
   background-image:@backgroundTexture;
   background-size: (2*@imageRadius) (2*@imageRadius);
   margin-left: ((@previewBorderSize));
   margin-top: ((@previewBorderSize));
   opacity: 0;


}
.preview_image_holder{
   display: inline-block;
   margin: auto;
   position: relative;
   width: 125px;
   height: 125px;
   margin-left: 20px;
   opacity: 1;
   //box-shadow: 0 0 0 5px @themeThree;

}
.center_preview_image_text{
   position: relative;
   font-size: 10px;
   text-align: center;
   color: white;
   top:25%;
   font-family: cantarellregular;
}


#headshot{
   //margin-left: (-1*(@imageRadius+@borderSize));
   //margin-top: (-1*(@imageRadius+@borderSize));
   background-image:url('../images/ben_head.jpg');
   .LightShadow;


   border:@borderSize solid @defaultThemeColor;
}
#head_text{
   margin-left: ((@borderSize));
   margin-top: ((@borderSize));
   background-image:@backgroundTexture;

   opacity: 0;
}


.name_subtext{
   position: relative;
   font-size: 15px;
   text-align: center;
   color: white;
  top:25%;
   font-family: cantarellregular;
  }

#section_holder{

   height: 100px;

   position: relative;
   margin: auto;

}

.section_div{
   display: inline-block;
   margin-left: 50px;

}
.section_highlight{
   width: 40px;
   height: 5px;
   background-color: @themeThree;
   margin: auto;
   display: block;
   margin-top: -10px;
   display: none;
   .Round;
   .HighLight;
  // background-image:url('../images/ben_head.jpg');
  // background-repeat: true;
   opacity: .8;

}
.section_text{
      color: white;
  font-size: 20px;
   font-family: cantarellregular;
}

#preview_holder{
   min-width: @mainWidth;
   margin: auto;


}

@imageRadiusPrev: 40px;
.preview_image{
   .Round;
   display: inline-block;
   height:(2*@imageRadiusPrev);
   width: (2*@imageRadiusPrev);
    z-index: 2;

   background-size: (2*@imageRadius) (2*@imageRadius);

}


.left_bar{
   width: 200px;
   position: fixed;
}

@platterWidth: 960px;
.body_platter{
   width: @platterWidth;
   min-height: 200px;
   background-color: white;
   .LightShadow;
   border-radius: 3px;
   display: block;
   margin: auto;
   margin-top: 40px;
   padding: 30px;
}

@mainWidth: 500px;


body{ height: 100%; padding: 0; margin: 0; //
  .BackgroundTexture;
  text-align: center;
}
.BackgroundTexture{
      background-image: @backgroundTexture;
    background-repeat: true;
}
#main_mc{
  min-width: @mainWidth;
   margin: auto;
   position: relative;
   margin-top: 100px;
}
#signature{
   position: relative;
   top: 10%;
   color: white;
   font-size: 50px;
   font-family: 'danielregular';
   display: block;
   margin: auto;
   text-shadow: 2px 6px #000000;
}


/******** Blog CSS -- possibly refactor to content small*************/

  .preview_section{
    display: block;
    margin: auto;
    padding: 10px;
  }
   .header_name{
      display: inline-block;
         font-family: "cantarellregular";
      font-size: 40px;
      color: @themeThree;
   }
   .header_divider{
      display: inline-block;
      font-family: "chunkfiveroman";
      font-size: 50px;
      color: @themeThree;
   }
   .header_title{
      display: inline-block;
      font-family: "chunkfiveroman";
      font-size: 50px;
      color: @themeThree;
   }

   @blogWidth: 166px;
   @blogHeight: 200px;
   .blog_square{
      display: inline-block;
      position: relative;
      margin: auto;
      margin-left: 50px;
      margin-top: 50px;

      width: @blogWidth;
      height: @blogHeight;

      padding: 10px;
      .LightShadowIn;
      border-radius: 2px;

      background-image:@backgroundTexture;


   }
   .blog_square_image{
      .Round;
      position: absolute;
      top: (-1*@blogWidth/6);
      left: (-1*@blogWidth/6);
      width: (@blogWidth/3);
      height: (@blogWidth/3);
      .LightShadow;
      z-index: 3;
   }
   .blog_square_preview{
      width: (@blogWidth);
      height: (@blogHeight);
      padding: 10px;
      .LightShadowIn;
      top: 0;
      left: 0;
      position: absolute;
      font-family: "cantarellregular";
      opacity: 0;
      background-image:url('../images/dark_wall_blue.png');
      background-repeat: true;
      z-index: 2;

   }
   .blog_square_preview_text{
     display: block;
     margin: auto;
     margin-top: 50px;
     color: white;

      font-family: "cantarellregular";


   }
   .blog_square_title{
       display: block;
       position: absolute;
       margin: auto;
       margin-top: 20px;
      color: @themeOne;
      font-size: 20px;
      width: @blogWidth;
      height: @blogHeight;
      padding: 5px;
       font-family: "cantarellregular";

   }
   .blog_square_tag{
      width: 50px;
      height: 50px;
      .LightShadow;
      margin-left: 10px;
   }
   .blog_tag_holder{
      position: absolute;
      display: block;
      padding: 5px;
      bottom: 3px;
      width: @blogWidth;
      height: 60px;

   }
   .blog_preview_date{
      position: absolute;
      display: block;
      margin: auto;
      height: 50px;
      width: 150px;
      top: 180px;
      left: 30px;

      color: @themeTwo;
      font-size: 10px;
      font-family: "chunkfiveroman";
   }

/*****Content Div Large*******/

@contentSquareWidth: 200px;
@contentSquareHeight: 350px;
.content_square{
      display: inline-block;
      position: relative;
      margin: auto;
      width: @contentSquareWidth;
      height: @contentSquareHeight;
      padding: 10px;
      .LightShadowIn;
      border-radius: 2px;
      background-image:@backgroundTexture;
      background-color: purple;


   }
   .content_square_image{
      .Round;
      position: absolute;
      top: -60px;
      left: -60px;
      width: 120px;
      height: 120px;

      z-index: 3;
   }
   .content_square_preview{
      color: black;
      width: @contentSquareWidth;
      height: @contentSquareHeight;
      padding: 10px;
      .LightShadowIn(2px);
      top: 0;
      left: 0;
      position: absolute;
      font-family: "cantarellregular";
      opacity: 0;
      background-image:url('../images/dark_wall_blue.png');
      background-repeat: true;
      z-index: 2;

   }
   .content_square_preview_text{
     display: block;
     margin: auto;
     margin-top: 70px;
     color: white;
     font-size: 18px;
      font-family: "cantarellregular";


   }
   .content_square_title{
       display: block;
       margin: auto;
       margin-top: 20px;
      color: @themeOne;
      font-size: 26px;
      width: @contentSquareWidth;
      min-height: 50px;
      padding: 5px;
      font-family: "cantarellregular";

   }
   .content_square_picture{
      display: inline-block;
      max-width: 180px;
      max-height: 180px;
      .LightShadow(1px);
      padding: 10px;
   }
   .content_tag_holder{
      display: block;
      width: 300px;
      height: 220px;

   }
   .content_preview_date{
      position: absolute;
      display: block;
      margin: auto;
      height: 50px;
      width: 150px;
      top: 180px;
      left: 30px;

      color: @themeTwo;
      font-size: 30px;
      font-family: "chunkfiveroman";
   }


#left_column{
  width: 200px;
  height: 100%;
  position: fixed;



  float: left;

}

@unitWidth : (@platterWidth/12);
@spanPadding: 10px;
@spanMT: 10px;
@spanFont: "cantarellregular";
@spanFontSize: 16px;
.SpanSettings{
  margin-top: @spanMT;
  padding: @spanPadding;
  font-family: @spanFont;
  font-size: @spanFontSize;
  text-align: center;
}

.span_2{
  width: 2*@unitWidth;
  display: inline-block;
  .SpanSettings;

}
.span_4{
  width: 4*@unitWidth;
  display: inline-block;
 .SpanSettings;
}
.span_6{
    width: 6*@unitWidth;
  display: inline-block;
  .SpanSettings;
}
.span_8{
    width: 8*@unitWidth;
  display: inline-block;
  .SpanSettings;
}
.span_10{
  width: 10*@unitWidth;
  display: inline-block;
  .SpanSettings;
}
.span_12{
  width: 12*@unitWidth;
  display: inline-block;
  .SpanSettings;
}

.image_div{
  display: inline-block;
  max-width: 360px;
  height: 100%;
  vertical-align: top;
}

.standard_image_holder{
  max-width: 320px;
  max-height: 320px;
  .LightShadow;
  display: inline;

}
.small_image_holder{
  max-width: 200px;
  max-height: 200px;
  .LightShadow;
  display: inline;
}


/**Blog Post ***/

.section_title{

}
.left_block_quote{
    align: left;
     border-left: 4px @themeFour solid;
    width: 450px;
    font-family: "journalregular";
     font-size: 40px;
     color: @themeTwo;

     margin-left: 30px;
     padding: 10px;
}
.right_block_quote{
   align: right;
    border-right: 4px @themeFour solid;

    width: 450px;
    font-family: "journalregular";
     font-size: 40px;
     color: @themeTwo;

     margin-left: 400px;
     padding: 10px;
}
.center_block_quote{
    display: block;
    margin: auto;
    border-left: 4px @themeFour solid;
    width: 450px;
    font-family: "journalregular";
     font-size: 40px;
     color: @themeTwo;
     border-right: 4px @themeFour solid;

     padding: 10px;
}

.center_blog_image_holder{
  display: block;
  margin: auto;

}

.standard_paragraph{
     font-family: "cantarellregular";
     font-size: 20px;
     text-align:left;
}
.caption{
  font-family: "cantarellregular";
  margin-bottom: 5px;
}
.blog_section_title{
      display: block;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      color: @themeTwo;
      border-top: 2px @themeTwo solid;
      border-bottom: 2px @themeTwo solid;
      font-size: 36px;
      padding-top: 20px;
      padding-bottom: 20px;


       font-family: "cantarellregular";
}


/* Admin Panel */

.admin_label{
   color: white;
  font-family: 'cantarellregular';
  font-size: 16px;
}
.admin_label_black{
   color: black;
  font-family: 'cantarellregular';
  font-size: 16px;
}

#admin_content{
  margin-left: 200px;
}

#left_admin_panel{
  width: 200px;
  height: 100%;
  float: left;
  position: fixed;
  background-color: black;
}
#in_progress_div{
  overflow-y: scroll;
  height: 300px;
  width: 180px;
  display: block;
  margin: auto;
}
#published_div{
  overflow-y: scroll;
  height: 300px;
  width: 180px;
  display: block;
  margin: auto;

}
#blog_text_area{
  resize: none;
  font-size: 22px;
  height: 400px;
  width: 800px;
  display: block;
  margin: auto;
   font-family: "cantarellregular";
   margin-top: 20px;
}
#blog_preview_text_area{
  resize:none;
  font-family: "cantarellregular";
  font-size: 22px;
  height: 200px;
  width: 800px;
  margin-top: 20px;
}
#admin_blog_title{
  resize: none;
  display: block;
  margin: auto;
  font-family: "cantarellregular";
  font-size: 30px;
  width: 500px;
}
.admin_comment_div{
   overflow-y: scroll;
  height: 300px;
  width: 700px;
  display: block;
  margin: auto;
  border:black 1px solid;
}

/* Image upload */
#dropbox{
    background:url('../img/background_tile_3.jpg');

    border-radius:3px;
    position: relative;
    margin:80px auto 90px;
    min-height: 290px;
    overflow: hidden;
    padding-bottom: 40px;
    width: 990px;

    box-shadow:0 0 4px rgba(0,0,0,0.3) inset,0 -3px 2px rgba(0,0,0,0.1);
}

#dropbox .message{
    font-size: 11px;
    text-align: center;
    padding-top:160px;
    display: block;
}

#dropbox .message i{
    color:#ccc;
    font-size:10px;
}

#dropbox:before{
    border-radius:3px 3px 0 0;
}

/*-------------------------
    Image Previews
--------------------------*/

#dropbox .preview{
    width:245px;
    height: 215px;
    float:left;
    margin: 55px 0 0 60px;
    position: relative;
    text-align: center;
}

#dropbox .preview img{
    max-width: 240px;
    max-height:180px;
    border:3px solid #fff;
    display: block;

    box-shadow:0 0 2px #000;
}

#dropbox .imageHolder{
    display: inline-block;
    position:relative;
}

#dropbox .uploaded{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background: url('../img/done.png') no-repeat center center rgba(255,255,255,0.5);
    display: none;
}

#dropbox .preview.done .uploaded{
    display: block;
}

/*-------------------------
    Progress Bars
--------------------------*/

#dropbox .progressHolder{
    position: absolute;
    background-color:#252f38;
    height:12px;
    width:100%;
    left:0;
    bottom: 0;

    box-shadow:0 0 2px #000;
}

#dropbox .progress{
    background-color:#2586d0;
    position: absolute;
    height:100%;
    left:0;
    width:0;

    box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;

    -moz-transition:0.25s;
    -webkit-transition:0.25s;
    -o-transition:0.25s;
    transition:0.25s;
}

#dropbox .preview.done .progress{
    width:100% !important;
}


//Login
#sign_in{
  color: white;
  font-family: 'cantarellregular';
  font-size: 30px;
}
.sign_in_label{
  color: white;
  font-family: 'cantarellregular';
  font-size: 16px;
}
#login_holder{
  margin-top: 200px;
}

.round_input{
  border-radius: 8px !important;
  border: 2px solid black;
  height: 28px;
  font-family: 'cantarellregular' !important;
  font-size: 18px;
   outline: none !important;
   position: relative;
   display: inline-block;

}
#math_check{
  background-image:url('../images/ben_head.jpg');
}
#math_check:active, #math_check:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
#blog_search_controls{
  margin-top: -40px;
  display: block;

}
.category_check{
  display: inline-block;
  margin: 5px;
  border: 2px black;
}

.circle_blog_preview{
  display: inline-block;
  margin: 30px;
  margin-top: 50px;
  position: relative;
  width: 150px;
  height: 150px;
}
.circle_blog_image_div{
  position: absolute;
  width: 150px;
  height: 150px;
}
.circle_blog_image{
  .Round;
  width: 150px;
  height: 150px;
  .LightShadow;
}
.circle_blog_preview_title{
  position: absolute;
  z-index: 5;
  width: 130px;
  min-height: 60px;
  margin-left: 10px;
  background-color: black;
  opacity: .8;
  display: block;
  .LightShadow;

  padding: 3px;
  color: white;
  top:93%;
  font-family: cantarellregular;
  border-radius: 10px;
}

.circle_blog_preview_text{
  position: absolute;
  z-index: 4;
  .Round;
  background-color: green;
  width: 150px;
  height: 150px;
  opacity: 0;
  .LightShadow;
}
#contact_banner{
  margin-top: -50px;
}







