<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Admind</title>
  <script type="text/javascript" src="../static/jquery-1.9.1.min.js"></script>
  <link rel="stylesheet/less" type="text/css" href="../static/less/style_two.less" />
  <script src="../static/less-1.3.3.min.js" type="text/javascript"></script>
  <script src = "../static/js/main.js" type="text/javascript"></script>
  <script src = "../static/js/admin.js" type="text/javascript"></script>
</head>
<body>
<div id = "left_admin_panel"> where am I
   <div id="in_progress_div">
          {% for blog in unpublished_blogs %}
            <a href = "../admin/{{blog.id}}"><p> {{blog.blogTitle}} </p></a>
        {% endfor %}

   </div>
   <div id="published_div">
        {% for blog in published_blogs %}
              <a href = "../admin/{{blog.id}}"><p> {{blog.blogTitle}} </p></a>
        {% endfor %}

   </div>
   <form name="blog_new" action="" method="POST">
      <button type="submit" value="new_blog">New Blog Post</button>
    </form>
</div>
<div id ="admin_content">

   <form name="blog_update" action="" method="POST">
       {{form.hidden_tag()}}
   <div class = "body_platter">
   <h3 class = "admin_label_black">Title:</h3>

   {{ form.title(id='admin_blog_title', value = current_blog.blogTitle) }}

   <div id = "helper_panel">
      <button type="button" id ="admin_paragraph">New Paragraph</button>
       <button type="button" id ="admin_picture">Insert Picture</button>
        <button type="button" id ="admin_left_quote">Insert Left Quote</button>
         <button type="button" id ="admin_right_quote">Insert Right Quote</button>
          <button type="button" id ="admin_center_quote">Instert Center Quote</button>
   </div>
   <h3 class = "admin_label_black">Content:</h3>
   {{ form.content(id = 'blog_text_area', content = current_blog.content|safe)}}
   <h3 class = "admin_label_black">Preview:</h3>
   {{ form.preview(id = 'blog_preview_text_area', content = current_blog.preview) }}
    <h3 class = "admin_label_black">Published:</h3>
   {{form.published(value = current_blog.published)}}
   <h3 class = "admin_label_black">Comments</h3>
   <div class = "admin_comment_div">
         {% for comment in current_blog.commments %}
         <p>{{comment.content}}</p>
          {% endfor %}
   </div>


 <header>
            <h1>Picture upload to: ../static/images/blog</h1>
 </header>

        <div id="dropbox">
            <span class="message">Drop images here to upload. <br /><i>(they will only be visible to you)</i></span>
        </div>

        <!-- Including the HTML5 Uploader plugin -->
        <script src="../static/js/jquery.filedrop.js"></script>

        <!-- The main script file -->
        <script src="../static/js/script.js"></script>
</div>
<p class = 'admin_label'>
  Publish <br>
<input type="submit" name="publish" id ="admin_publish"></button>
</p>
<p class = 'admin_label'>
Unpublish <br>
<input type="submit" name="unpublish" id ="admin_unpublish"></button>
</p>
</form>




</div>


</body>