{% extends "page_base.html" %}
{% block imports %}
<script src = "../static/js/blog.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
<div class ="body_platter">
 <div class = "section_head">
  <p class = "header_title">Android Bluetooth Controller</p>

  <div class = "span_10" class="center_align">
    <div class = "image_div centered">
      <figure>
        <img class = 'standard_image_holder'src="../static/images/projects/java_game_controller/connect_screen.png"/>
        <figcaption class ="caption">Connect up to four controllers at once!</figcaption>
      </figure>
    </div>
  <div class =  "image_div centered">
      <figure>
        <img class = 'standard_image_holder'src="../static/images/projects/splinky/touch_screen.png"/>
        <figcaption class ="caption">Three different controllers including a touch gesture enabled option!</figcaption>
      </figure>
    </div>

 </div>

</div>
{% endblock %}