{% extends "page_base.html" %}
{% block content %}
<div id='left_side_bar_dec1'></div>
      <div id='left_side_bar_dec2'></div>
<div id='left_side_bar'>

<div id='chrono_log'></div>
<form id="searchbox" action="">
    <input id="search" type="text" placeholder="Type here">
    <input id="submit" type="submit" value="Search">
</form>
<img src= "../static/images/math.png" id ="math_icon"/>
<img src= "../static/images/math.png" id ="math_icon"/>
<img src= "../static/images/math.png" id ="math_icon"/>
</div>

<form>
   <span><input  placeholder="Search..."></span>
   </form>
</div>
<div id='main_content_div'>

<div class = "preview_div">
      <div class = "preview_title">Prime numbers</div>
   <div class = "preview_image">
      <img src ="../static/images/ben_head.jpg" class = 'preview_im'/>
   </div>
   <div class = "preview_text"> It was rainy and cold.. of course it was this is Seattle! And then we went to the moon, and fishing, and cows
      pigs dogs. There is a fireplace and a tv a keyboard and a mongoose tv making so much noise my ears want to bleed.</div>
      <div class="preview_labels">
       <img src= "../static/images/math.png" class ="label"/>
       <img src= "../static/images/math.png" class ="label"/>
    </div>
</div>
<div class = "preview_div2">
      <div class = "preview_title">To Seattle</div>
   <div class = "preview_image">
      <img src ="../static/images/ben_head.jpg" class = 'preview_im'/>
   </div>
   <div class = "preview_text"> It was rainy and cold.. of course it was this is Seattle! And then we went to the moon, and fishing, and cows
      pigs dogs. There is a fireplace and a tv a keyboard and a mongoose tv making so much noise my ears want to bleed.</div>
      <div class="preview_labels">
       <img src= "../static/images/math.png" class ="label"/>
       <img src= "../static/images/math.png" class ="label"/>
    </div>

</div>
<div class = "preview_div3">
      <div class = "preview_title">To Seattle</div>
   <div class = "preview_image">
      <img src ="../static/images/ben_head.jpg" class = 'preview_im'/>
   </div>
   <div class = "preview_text"> It was rainy and cold.. of course it was this is Seattle! And then we went to the moon, and fishing, and cows
      pigs dogs. There is a fireplace and a tv a keyboard and a mongoose tv making so much noise my ears want to bleed.</div>
      <div class="preview_labels">
       <img src= "../static/images/math.png" class ="label"/>
       <img src= "../static/images/math.png" class ="label"/>
    </div>
</div>
<div class = "preview_div"></div>
<div class = "preview_div2"></div>
<div class = "preview_div3"></div>



</div>

{% endblock %}