<div class="blog_square">
   <img class ="blog_square_image" src="../static/images/seattle.jpg"></img>
   <p class = "blog_square_title">I guess I need a title too.</p>
   <div class = "blog_square_preview">
      <div class= "blog_square_preview_text">This is a preivew of a very long and interesting blog post writtern by me! And I will keep on writing to verify length info.</div>
   </div>
   <div class="blog_tag_holder">
    <img class ="blog_square_tag" src="../static/images/seattle.jpg"></img>
     <img class ="blog_square_tag" src="../static/images/seattle.jpg"></img>
   </div>
</div>