 <div class = "preview_image_holder" >
    <image class="center_preview_image" src = "../static/images/linkedin_icon.png" ></image>
    <a href ="http://www.linkedin.com/pub/ben-schwab/46/8a1/273"><div class="center_preview_image_text_div" >
         <p class ="center_preview_image_text">LinkedIn</p>
    </div></a>
</div>
    <div class = "preview_image_holder">
        <image class="center_preview_image" src = "../static/images/github_icon.png" ></image>
        <a href="https://github.com/BenSchwab"><div class="center_preview_image_text_div" >
       <p class ="center_preview_image_text">Github</p>
    </div></a>
  </div>
<div class = "preview_image_holder">
    <image class="center_preview_image" src = "../static/images/facebook_icon.png" ></image>
    <a href ="https://www.facebook.com/ben.schwab.14"><div class="center_preview_image_text_div" >
    <p class ="center_preview_image_text">Facebook</p>
    </div></a>
</div>
