 <div class = "preview_image_holder" >
           <image class="center_preview_image" src = "../static/images/splinky_icon.png" ></image>
            <div class="center_preview_image_text_div" >
              <p class ="center_preview_image_text">Splinky's Last Stand</p>
            </div>
            </div>
    <div class = "preview_image_holder">
             <image class="center_preview_image" src = "../static/images/game_of_life.png" ></image>
             <div class="center_preview_image_text_div" >
              <p class ="center_preview_image_text">Conway's Game of Life</p>
            </div>
      </div>
       <div class = "preview_image_holder">
             <image class="center_preview_image" src = "../static/images/sat_vocab.png" ></image>
             <div class="center_preview_image_text_div" >
              <p class ="center_preview_image_text">SAT Vocab</p>
        </div>