{% extends "page_base.html" %}
{% block imports %}
  <script src = "../static/js/project.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
<div class ="body_platter">
 <div class = "section_head">
  <a href="/"><p class = "header_name">Benjamin Schwab</p></a>
  <p class = "header_divider">|</p>
  <p class = "header_title">Projects</p>
</div>





<div class = "preview_section">

  <div class="project_preview">
    <img class = "project_preview_picture"/>
    <div class = "project_preview_text"><p class="project_preview_text_p">Hover over a project to see a preview.</p></div>
  </div>

<!--   <a href= "http://getsmsmart.com">
  <div class ="circle_blog_preview">
          <div class="circle_blog_image_div" >
              <img class="circle_blog_image" id='SMSMart' src="../static/images/sat_vocab.png"/>
               </div>
                 <div class="circle_blog_preview_text">
            <p class="project_title">SMSmart</p>
          </div>
   </div>
</a> -->

<a href= "http://benschwab.github.io/whistle-hero">
  <div class ="circle_blog_preview">
          <div class="circle_blog_image_div" >
              <img class="circle_blog_image" id='WhistleHero' src="../static/images/projects/sound_input/audio-eq.jpg"/>
               </div>
                 <div class="circle_blog_preview_text">
            <p class="project_title">Sound Input Classifier for Games</p>
          </div>
   </div>
</a>

<a href= "http://benschwab.github.io/FlappyBot">
  <div class ="circle_blog_preview">
          <div class="circle_blog_image_div" >
              <img class="circle_blog_image" id='FlappyBot' src="../static/images/projects/flappy_bot/flappybot.png"/>
               </div>
                 <div class="circle_blog_preview_text">
            <p class="project_title">FlappyBot</p>
          </div>
   </div>
</a>

<a href= "/gameoflife">
  <div class ="circle_blog_preview" >
          <div class="circle_blog_image_div">
              <img class="circle_blog_image" id='GoLImage' src="../static/images/game_of_life.png"/>
          </div>
          <div class="circle_blog_preview_text">
            <p class="project_title">Game of Life</p>
          </div>
   </div>
</a>
<a href= "/projects/splinky">
  <div class ="circle_blog_preview">
          <div class="circle_blog_image_div" >
              <img class="circle_blog_image" id='SplinkyImage' src="../static/images/splinky_icon.png"/>
               </div>
                 <div class="circle_blog_preview_text">
                <p class="project_title">Splinky's Last Stand</p>
              </div>
   </div>
</a>

 <a href= "projects/satvocab">
  <div class ="circle_blog_preview">
          <div class="circle_blog_image_div" >
              <img class="circle_blog_image" id='SATVocabImage' src="../static/images/sat_vocab.png"/>
               </div>
                 <div class="circle_blog_preview_text">
            <p class="project_title">SAT Vocabulary Suite</p>
          </div>
   </div>
</a>



</div>


{% endblock %}