{% extends "page_base.html" %}
{% block imports %}
  <script src = "../static/js/project.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
<div class ="body_platter">
 <div class = "section_head">
  <a href="/"><p class = "header_name">Benjamin Schwab</p></a>
  <p class = "header_divider">|</p>
  <p class = "header_title">Projects</p>
</div>


<div class = "preview_section">

  <div class="project_preview">
    <img class = "project_preview_picture"/>
    <div class = "project_preview_text"></div>
  </div>

<a href= "/gameoflife">
  <div class ="circle_blog_preview" >
          <div class="circle_blog_image_div">
              <img class="circle_blog_image" id='GoLImage' src="../static/images/game_of_life.png"/>
          </div>
          <p class ="circle_blog_preview_title">Game of Life</p>
   </div>
</a>
<a href= "/Splinky">
  <div class ="circle_blog_preview">
          <div class="circle_blog_image_div" >
              <img class="circle_blog_image" id='SplinkyImage' src="../static/images/splinky_icon.png"/>
               </div>
               <p class ="circle_blog_preview_title">Splinky's Last Stand</p>
   </div>
</a>

<a href= "/SatVocab">
  <div class ="circle_blog_preview">
          <div class="circle_blog_image_div" >
              <img class="circle_blog_image" id='SATVocabImage' src="../static/images/game_of_life.png"/>
               </div>
               <p class ="circle_blog_preview_title">SAT Vocabulary Suite</p>
   </div>
</a>

<a href= "/javagamecontroller" >
  <div class ="circle_blog_preview">
          <div class="circle_blog_image_div" >
              <img class="circle_blog_image" id='JavaGameController' src="../static/images/game_of_life.png"/>
               </div>
               <p class ="circle_blog_preview_title">Java Game Controller</p>
   </div>
</a>


</div>


{% endblock %}