<!--    <div class = "preview_image_holder">
    <image class="center_preview_image" src = "../static/images/sat_vocab.png" ></image>
    <a href = "http://getsmsmart.com" style="text-decoration:none;"><div class="center_preview_image_text_div" >
     <p class ="center_preview_image_text">SMSmart</p>
   </div> </a>
</div> -->
  <div class = "preview_image_holder">
    <image class="center_preview_image" src = "../static/images/projects/sound_input/audio-eq.jpg" ></image>
    <a href = "http://benschwab.github.io/whistle-hero/" style="text-decoration:none;"><div class="center_preview_image_text_div" >
     <p class ="center_preview_image_text">Sound Input Classifier for Games</p>
   </div> </a>
</div>

 <div class = "preview_image_holder">
    <image class="center_preview_image" src = "../static/images/projects/flappy_bot/flappybot.png" ></image>
    <a href = "http://benschwab.github.io/FlappyBot/" style="text-decoration:none;"><div class="center_preview_image_text_div" >
     <p class ="center_preview_image_text">Flappy Bot</p>
   </div> </a>
</div>
 <div class = "preview_image_holder" >
   <image class="center_preview_image" src = "../static/images/splinky_icon.png" ></image>
   <a href = "/projects/splinky" style="text-decoration:none;">
   <div class="center_preview_image_text_div" >
    <p class ="center_preview_image_text">Splinky's Last Stand</p>
  </div></a>
</div>

<div class = "preview_image_holder">
 <image class="center_preview_image" src = "../static/images/game_of_life.png" ></image>
 <a href = "/projects/gameoflife" style="text-decoration:none;"> <div class="center_preview_image_text_div" >
  <p class ="center_preview_image_text">Conway's Game of Life</p>
</div></a>
</div>

<div class = "preview_image_holder">
 <image class="center_preview_image" src = "../static/images/sat_vocab.png" ></image>
 <a href = "/projects/satvocab" style="text-decoration:none;"><div class="center_preview_image_text_div" >
  <p class ="center_preview_image_text">SAT Vocab</p>
</div> </a>
</div>
<!--
<div class = "preview_image_holder">
 <image class="center_preview_image" src="../static/images/projects/java_game_controller/main_icon.png" ></image>
 <a href = "/projects/androidbluetoothcontroller" style="text-decoration:none;"><div class="center_preview_image_text_div" >
  <p class ="center_preview_image_text">Android Bluetooth Controller</p>
</div> </a> -->
</div>
