
{% extends "page_base.html" %}
{% block imports %}
 <script src = "../static/js/blog.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
<div class ="body_platter">
  <div class = "section_head">
    <p class = "header_name">Reality Of Fiction</p>
  <p class = "header_divider">|</p>
    <a href="../"><p class = "header_title">Ben Schwab</p></a>
  </div>

  <div class = "preview_section">

<iframe src="http://prezi.com/embed/f7w4hy5fvur6/?bgcolor=ffffff&amp;lock_to_path=0&amp;autoplay=0&amp;autohide_ctrls=0&amp;features=undefined&amp;disabled_features=undefined" width="800" height="550" frameBorder="0"></iframe>


  </div>
</div>


{% endblock %}