{% extends "page_base.html" %}
{% block imports %}
 <script src = "../static/js/blog.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
<div class ="body_platter">
  <div class = "section_head">
    <p class = "header_name">{{ post_content.blogTitle}}</p>
    <p class = "header_divider">|</p>
    <p class = "header_title">May 12, 2013</p>
  </div>

  <div class = "preview_section">


      {{ post_content.content|safe}}




  </div>
</div>


<div class = "body_platter">
  <div id='comment_toggle'>Hmm</div>
  <div class = 'leave_comment_container'>
    <p id="name_reminder">Name is required.</p>
    <p id="content_reminder">Please add your comment.</p>
     <form action="" method="post" name="leavecomment">
        {{form.hidden_tag()}}

            Name:<br>
            {{form.name(id='name_box')}}<br>


          Comment: <br>
          {{form.content(id='comment_box')}}
        <p><input type="submit"></p>
    </form>

  </div>

    {% for comment in blog_comments %}
    <div class='comment_container'>
      <div></div>
      <div></div>accleration.jpg
      <p>{{comment.name}}</p>
      <p>{{comment.content}}</p>
    </div>
    {% endfor %}

   <p>Two comment</p>
  <p>Three comment</p>
</div>
{% endblock %}