{% extends "page_base.html" %}
{% block imports %}
 <script src = "../static/js/blog.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
<div class ="body_platter">
  <div class = "section_head">
    <p class = "header_name">{{ post_content.blogTitle}}</p>
    <p class = "header_divider">|</p>
    <p class = "header_title">May 12, 2013</p>
  </div>

  <div class = "preview_section">


      {{ post_content.content|safe}}




  </div>
</div>


<div class = "body_platter">
  <div class = 'leave_comment_container'>

  </div>
  <div class='comment_container'>
    {% for comment in blog_comments %}
      <p>comment.name</p>
      <p>comment.content</p>
      {% endfor %}
  </div>
   <p>Two comment</p>
  <p>Three comment</p>
</div>
{% endblock %}