{% extends "page_base.html" %}
{% block imports %}
<script src = "../static/js/blog.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
<div class ="body_platter">
 <div class = "section_head">
  <a href="/"> <p class = "header_name">Benjamin Schwab</p></a>
  <p class = "header_divider">|</p>
  <p class = "header_title">SAT Vocabulary Suite</p>

  <div class="span_2"><a href="https://play.google.com/store/search?q=pub:Mirari Software">
    <img alt="Get it on Google Play"
    src="https://developer.android.com/images/brand/en_generic_rgb_wo_60.png" />
  </a></div>


  <div class = "span_12 center_align">
    <div class =  "image_div center_align">
      <figure>
        <img class = 'standard_image_holder'src="../static/images/projects/sat_vocab/satv_one.jpg"/>
        <figcaption class ="caption">Intuitive UI makes studying easy.</figcaption>
      </figure>
    </div>
    <div class = "image_div center_align">
      <figure>
        <img class = 'standard_image_holder'src="../static/images/projects/sat_vocab/satv_two.jpg"/>
        <figcaption class ="caption">Track your progress on your way to a perfect 800!</figcaption>
      </figure>
    </div>
     <div class = "image_div center_align">
      <figure>
        <img class = 'standard_image_holder'src="../static/images/projects/sat_vocab/satvs_screen_six.jpg"/>
        <figcaption class ="caption">Challenge your friends to a vocab quiz!</figcaption>
      </figure>
    </div>

    <div class="span_10 center_align">
   <div class="span_4">
          <h2><p>SAT Vocabulary Studying Made Easy</p> </h2>
          <p>This app contains over 400 SAT words - many gathered from past SAT tests to ensure that you are studying relevant words. There is no need to search for vocab lists. SAT Vocabulary Suite has them all for you.</p>
        </div>
        <div class="span_4">
          <h2><p>Incentived Progress</p> </h2>
          <p>The only way to learn vocab words is to study everyday. SAT Vocabulary Suite encourages this with daily bonus quizzes and a SAT Score as a progress tracker. The app will automatically generate a list with the words you need to study the most!</p>
        </div>
      </div>
      <div class="center_block_quote">Love it! Its interface is the best I have seen yet! I love not only the system by which we can learn words but also all of the quiz modes. - Guvant Chaudhari</div>




 </div>

</div>
{% endblock %}