{% extends "page_base.html" %}
{% block imports %}
<script src = "../static/js/blog.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
<div class ="body_platter">
 <div class = "section_head">
  <a href="/"> <p class = "header_name">Benjamin Schwab</p></a>
  <p class = "header_divider">|</p>
  <p class = "header_title">Splinky's Last Stand</p>

  <div class = "span_12">
    <div class = "center_block_quote">Thousands of enemies. Dozens of weapons. One Splinky.</div>
  </div>

  <div class ="span_10">
    <iframe class="centered" src="http://player.vimeo.com/video/46003940" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
 </div>
  <div class="span_6"><a href="https://play.google.com/store/search?q=pub:Mirari Software">
    <img alt="Get it on Google Play"
    src="https://developer.android.com/images/brand/en_generic_rgb_wo_60.png" />
  </a></div>
  <div class = "span_8">
    <h2><p href="">  Help Splinky take revenge on Spike Kingdom in a space shooter/tower defense hybrid!</p></h2>
          <ul>
            <li> Fight 4 types of enemies</li>
            <li> Over a dozen different weapons</li>
            <li> Collect coins to upgrade your weapons</li>
            <li> Global and local high score boards are in development</li>
            <li> Move Splinky by tilting your phone</li>
            <li> Use a wide array of weapons by touching the screen</li>
            <li> Lock onto to a specific enemy and push the shoot button to use homing weapons</li>
              <li>Custom built graphics, physics, and artificial intelligence engines</li>
               <li> Spend the coins you pick up in battle at the armory to upgrade your weapons</li>
            <li> Dozens of upgrades ranging from more powerful weapons to increased amounts of ammunition</li>
          </ul>
  </div>

  <div class = "span_10" class="center_align">
    <div class =  "image_div centered">
      <figure>
        <img class = 'standard_image_holder'src="../static/images/projects/splinky/main_screen.png"/>
        <figcaption class ="caption">Features an online leaderboard, weapon armory, and survival mode. And this goes on and on and on and on and on and on even some more.</figcaption>
      </figure>
    </div>
    <div class = "image_div centered">
      <figure>
        <img class = 'standard_image_holder'src="../static/images/projects/splinky/armory_one.png"/>
        <figcaption class ="caption">Upgrade your weapons at the armory</figcaption>
      </figure>
    </div>
  <div class =  "image_div centered">
      <figure>
        <img class = 'standard_image_holder'src="../static/images/projects/splinky/screen_three.png"/>
        <figcaption class ="caption">How many waves can you survive?</figcaption>
      </figure>
    </div>
   <div class =  "image_div centered">
      <figure>
        <img class = 'standard_image_holder'src="../static/images/projects/splinky/screen_two.png"/>
        <figcaption class ="caption">Pack a punch with explosive weapons!</figcaption>
      </figure>
    </div>

 </div>

</div>
{% endblock %}