<p class="standard_paragraph">This is a sample blog loaded from a database! I wonder if it will work.</p>
       <div class="left_block_quote">Insert my quote here and then there was a cow and a pig and even a rooster!</div>
       <p class="standard_paragraph">I really am wondering if building this blog will get any useful results. I like the way words make noise, the way they can pierce into
      the inner sanctum of souls, and illuminate our thoughts.I really am wondering if building this blog will get any useful results. I like the way words make noise, the way they can pierce into

      the inner sanctum of souls, and illuminate our thoughtsI really am wondering if building this blog will get any useful results. I like the way words make noise, the way they can pierce into
      the inner sanctum of souls, and illuminate our thoughts</p>
      <div class = "center_blog_image_holder">
         <img src="../static/images/seattle.jpg" />
         <figcaption class ="caption">Caption goes here</figcaption>

      </div>