 <a href="/writing/acceleration">
 <div class = "preview_image_holder" >
      <image class="center_preview_image" src = "../static/images/acceleration.jpg" ></image>
      <div class="center_preview_image_text_div" >
          <p class ="center_preview_image_text">Acceleration</p>
      </div>
</div>
</a>
 <a href="/writing/realityoffiction">
 <div class = "preview_image_holder" >
      <image class="center_preview_image" src = "../static/images/dali.jpg" ></image>
      <div class="center_preview_image_text_div" >
          <p class ="center_preview_image_text">Reality of Fiction</p>
      </div>
</div>
</a>
<a href="/writing/theshot">
 <div class = "preview_image_holder" >
      <image class="center_preview_image" src = "../static/images/shot_picture.jpg" ></image>
      <div class="center_preview_image_text_div" >
          <p class ="center_preview_image_text">The Shot</p>
      </div>
</div>
</a>