{% extends "page_base.html" %}
{% block imports %}
 <script src = "../static/js/writing.js" type="text/javascript"></script>
 <script src = "../static/js/general.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
<div class ="body_platter">
  <div class = "section_head">
    <a href="/"> <p class = "header_name">Benjamin Schwab</p></a>
    <p class = "header_divider">|</p>
    <p class = "header_title">Writing</p>
  </div>

  <div class="writing_preview">
    <div class = "writing_preview_text"><p class="writing_preview_text_p"></p></div>
  </div>

<div class = "preview_section">
 <a href="/writing/acceleration">
  <div class ="circle_blog_preview" >
          <div class="circle_blog_image_div">
              <img class="circle_blog_image" id='AccelerationImage' src="../static/images/acceleration.jpg"/>
          </div>
          <div class="circle_blog_preview_text">
            <p class="project_title">Acceleration</p>
          </div>
   </div>
</a>
 <a href="/writing/realityoffiction">
  <div class ="circle_blog_preview">
          <div class="circle_blog_image_div" >
              <img class="circle_blog_image" id='RealityImage' src = "../static/images/dali.jpg"/>
               </div>
                 <div class="circle_blog_preview_text">
                <p class="project_title">Reality of Fiction</p>
              </div>
   </div>
</a>

<a href="/writing/theshot">
  <div class ="circle_blog_preview">
          <div class="circle_blog_image_div" >
              <img class="circle_blog_image" id='ShotImage' src = "../static/images/shot_picture.jpg"/>
               </div>
                 <div class="circle_blog_preview_text">
            <p class="project_title">The Shot</p>
          </div>
   </div>
</a>


</div>



{% endblock %}