{% extends "page_base.html" %}
{% block imports %}
 <script src = "../static/js/blog.js" type="text/javascript"></script>
 <script src = "../static/js/general.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
<div class ="body_platter">
  <div class = "section_head">
    <a href="/"> <p class = "header_name">Benjamin Schwab</p></a>
    <p class = "header_divider">|</p>
    <p class = "header_title">Writing</p>
  </div>
<div class = "preview_section">

 <div class="content_square">
   <img class ="content_square_image" src="../static/images/splinky_icon.png"></img>
   <p class = "content_square_title">Acceleration</p>
   <div class = "content_square_preview">
      <div class= "content_square_preview_text">A short story I wrote for an English seminar entitled the "Digital Afterlife". For the assignment we had to write a short story envisioning a sci-fi future. In accleration we face a dystopian society that manipulates special relativity create a "1%" who live on a highly accelerated disk in order to live life at a drastically slower rate than the rest of the world.</div>
   </div>
   <div class = "content_preview_date">May 5</div>
   <div class="content_tag_holder">

  </div>
</div>

<div class="content_square">
   <img class ="content_square_image" src="../static/images/splinky_icon.png"></img>
   <p class = "content_square_title">The Shot</p>
   <div class = "content_square_preview">
      <div class= "content_square_preview_text">A short story I wrote for an English seminar entitled the "Digital Afterlife". For the assignment we had to write a short story envisioning a sci-fi future. In accleration we face a dystopian society that manipulates special relativity create a "1%" who live on a highly accelerated disk in order to live life at a drastically slower rate than the rest of the world.</div>
   </div>
   <div class = "content_preview_date">May 5</div>
   <div class="content_tag_holder">

  </div>
</div>

</div>



{% endblock %}